<hlm-sheet side="right">
  <button class="custom-button" id="add-product" brnSheetTrigger>
    Añadir empleado
  </button>
  <hlm-sheet-content *brnSheetContent="let ctx">
    <h2 class="title">Añadir empleado</h2>

    <form class="flow" [formGroup]="productForm()" (ngSubmit)="addProduct(ctx)">
      <hlm-form-field>
        <label hlmLabel for="product-name">Nombre</label>
        <input required hlmInput type="text" id="product-name" name="product-name" placeholder="Marca"
          formControlName="nombre" />
        <hlm-error>El nombre es obligatorio</hlm-error>
      </hlm-form-field>
      <hlm-form-field>
        <label hlmLabel for="product-domicilio">Domicilio</label>
        <input required hlmInput type="text" id="product-domicilio" name="product-domicilio" placeholder="Modelo"
          formControlName="domicilio" />
        <hlm-error>El domicilio es obligatorio</hlm-error>
      </hlm-form-field>

      <hlm-form-field>
        <label hlmLabel for="rol">Rol</label>
        <brn-select class="inline-block" placeholder="Rol del empleado" formControlName="rol">
          <hlm-select-trigger>
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content>
            <hlm-option value="Administrador">Administrador</hlm-option>
          </hlm-select-content>
        </brn-select>
        <hlm-error>El rol es obligatorio</hlm-error>
      </hlm-form-field>

      <hlm-form-field>
          <label hlmLabel for="producto-dni">Número DNI</label>
          <input required hlmInput type="number" id="producto-dni" name="producto-dni" placeholder="Número DNI"
            formControlName="dni" />
          <hlm-error>El DNI es obligatorio</hlm-error>
      </hlm-form-field>

      <hlm-form-field>
        <label hlmLabel for="product-email">Correo</label>
        <input hlmInput type="text" id="product-email" name="product-email" placeholder="Correo"
          formControlName="email" />
        <hlm-error>El correo es obligatorio</hlm-error>
      </hlm-form-field>
      <hlm-form-field>
        <div class="form-row">
          <label hlmLabel for="licencia">Licencia</label>
          <input hlmInput type="number" id="licencia" name="licencia" placeholder="Número de licencia"
            formControlName="licencia" />
        </div>
      </hlm-form-field>
      <hlm-form-field>
        <div class="form-row">
          <label hlmLabel for="producto-celular">Celular</label>
          <input hlmInput type="number" id="producto-celular" name="producto-celular" placeholder="Celular"
            formControlName="celular" />
        </div>
      </hlm-form-field>
      <button class="custom-button" type="submit">Añadir</button>
    </form>
  </hlm-sheet-content>
</hlm-sheet>
