.container__sesion {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}
.form__wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  gap: 1rem;
}
.title {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin-block-end: 0.8rem;
}
a {
  color: #ff6565;
  font-weight: 600;
  transition: color 250ms ease;
}
a:hover {
  color: #673ab7;
}
