<hlm-dialog>
  <button id="edit-product" class="product-action" brnDialogTrigger>
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-pencil-square"
      viewBox="0 0 16 16">
      <path
        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
      <path fill-rule="evenodd"
        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
    </svg>
  </button>

  <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
    <form class="flow" [formGroup]="productForm()" (ngSubmit)="editProduct(ctx)">
      <hlm-form-field>
        <label hlmLabel for="product-name">Nombre</label>
        <input required hlmInput type="text" id="product-name" name="product-name" placeholder="Marca"
          formControlName="nombre" />
        <hlm-error>El nombre es obligatorio</hlm-error>
      </hlm-form-field>
      <hlm-form-field>
        <label hlmLabel for="product-domicilio">Domicilio</label>
        <input required hlmInput type="text" id="product-domicilio" name="product-domicilio" placeholder="Modelo"
          formControlName="domicilio" />
        <hlm-error>El domicilio es obligatorio</hlm-error>
      </hlm-form-field>

      <hlm-form-field>
        <label hlmLabel for="rol">Rol</label>
        <brn-select class="inline-block" placeholder="Rol del empleado" formControlName="rol">
          <hlm-select-trigger>
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content>
            <hlm-option value="Administrador">Administrador</hlm-option>
          </hlm-select-content>
        </brn-select>
        <hlm-error>El rol es obligatorio</hlm-error>
      </hlm-form-field>

      <hlm-form-field>
          <label hlmLabel for="producto-dni">Número DNI</label>
          <input required hlmInput type="number" id="producto-dni" name="producto-dni" placeholder="Número DNI"
            formControlName="dni" />
          <hlm-error>El DNI es obligatorio</hlm-error>
      </hlm-form-field>

      <hlm-form-field>
        <label hlmLabel for="product-email">Correo</label>
        <input hlmInput type="text" id="product-email" name="product-email" placeholder="Correo"
          formControlName="email" />
        <hlm-error>El correo es obligatorio</hlm-error>
      </hlm-form-field>
      <hlm-form-field>
        <div class="form-row">
          <label hlmLabel for="licencia">Licencia</label>
          <input hlmInput type="number" id="licencia" name="licencia" placeholder="Número de licencia"
            formControlName="licencia" />
        </div>
      </hlm-form-field>
      <hlm-form-field>
        <div class="form-row">
          <label hlmLabel for="producto-celular">Celular</label>
          <input hlmInput type="number" id="producto-celular" name="producto-celular" placeholder="Celular"
            formControlName="celular" />
        </div>
      </hlm-form-field>
      <button class="custom-button" type="submit">Editar empleado</button>
    </form>
  </hlm-dialog-content>
</hlm-dialog>
