/* :host(.dashboard__grid) {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 2rem;
}

:host(.wrapper) {
  --boxed-size: 95rem;
} */



.dashboard__grid {
  height: 100%;
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 1.5rem;
}
/*
@media (height <= 800px) {
  :host() {
    height: auto;
  }
} */
