/* :host(.dashboard__grid) {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 2rem;
}

:host(.wrapper) {
  --boxed-size: 95rem;
} */



.dashboard__grid {
  height: 100%;
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 1.5rem;
}

@media (max-width: 1024px) {
  .dashboard__grid {
    grid-template-columns: minmax(100%, 1fr);
  }
}
