<hlm-dialog>
  <button id="edit-product" class="product-action" brnDialogTrigger>
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-pencil-square"
      viewBox="0 0 16 16">
      <path
        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
      <path fill-rule="evenodd"
        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
    </svg>
  </button>

  <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
    <form class="flow" [formGroup]="productForm()" (ngSubmit)="editProduct(ctx)">
      <hlm-form-field>
        <label hlmLabel for="product-marca">Marca</label>
        <input required hlmInput type="text" id="product-marca" name="product-marca" placeholder="Marca"
          formControlName="marca" />
        <hlm-error>La marca es obligatoria</hlm-error>
      </hlm-form-field>
      <hlm-form-field>
        <label hlmLabel for="product-modelo">Modelo</label>
        <input required hlmInput type="text" id="product-modelo" name="product-modelo" placeholder="Modelo"
          formControlName="modelo" />
        <hlm-error>El modelo es obligatorio</hlm-error>
      </hlm-form-field>

      <hlm-form-field>
        <label hlmLabel for="category">Categoría</label>
        <brn-select class="inline-block" placeholder="Categoría del vehículo" formControlName="categoria">
          <hlm-select-trigger>
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content>
            <hlm-option value="Camioneta">Camioneta</hlm-option>
            <hlm-option value="Deportivo">Deportivo</hlm-option>
            <hlm-option value="Mini Van">Mini Van</hlm-option>
            <hlm-option value="SUV">SUV</hlm-option>
            <hlm-option value="Convertible">Convertible</hlm-option>
            <hlm-option value="Sedán">Sedán</hlm-option>
            <hlm-option value="Stagion Wagon">Stagion Wagon</hlm-option>
            <hlm-option value="Camioneta pick-up">Camioneta pick-up</hlm-option>
            <hlm-option value="Coupé">Coupé</hlm-option>
            <hlm-option value="Arenero">Arenero</hlm-option>
          </hlm-select-content>
        </brn-select>
        <hlm-error>La categoría es obligatoria</hlm-error>
      </hlm-form-field>
      <hlm-form-field>
        <div class="form-row">
          <label hlmLabel for="producto-imagen">URL Imagen</label>
          <input hlmInput type="text" id="producto-imagen" name="producto-imagen" placeholder="URL Imagen"
            formControlName="imagen" />
        </div>
      </hlm-form-field>
      <hlm-form-field>
        <label hlmLabel for="product-placa">Placa</label>
        <input hlmInput type="text" id="product-placa" name="product-placa" placeholder="Placa"
          formControlName="placa" />
      </hlm-form-field>
      <hlm-form-field>
        <div class="form-row">
          <label hlmLabel for="nro-asientos">Número de asientos</label>
          <input hlmInput type="number" id="nro-asientos" name="nro-asientos" placeholder="Número de asientos"
            formControlName="numero_asientos" />
        </div>
      </hlm-form-field>
      <hlm-form-field>
        <div class="form-row">
          <label hlmLabel for="producto-color">Color</label>
          <input hlmInput type="text" id="producto-color" name="producto-color" placeholder="Color"
            formControlName="color" />
        </div>
      </hlm-form-field>
      <hlm-form-field>
        <div class="form-row">
          <label hlmLabel for="producto-transmision">Transmisión</label>
          <input hlmInput type="text" id="producto-transmision" name="producto-transmision" placeholder="Transimisión"
            formControlName="transmision" />
        </div>
      </hlm-form-field>
      <hlm-form-field>
        <div class="form-row">
          <label hlmLabel for="producto-soat">Soat</label>
          <input hlmInput type="text" id="producto-soat" name="producto-soat" placeholder="Soat"
            formControlName="soat" />
        </div>
      </hlm-form-field>
      <button class="custom-button" type="submit">Editar auto</button>
    </form>
  </hlm-dialog-content>
</hlm-dialog>
